extends formLayout

block content
  h1= title 
  body
    p.lead
      | Sėkmingai pakeitėte savo slaptažodį?
      br
      a(href='/loginc') Prisijunkite
      form(action="/resetPasswordc", method="post", onSubmit="return saveFields();")    
         <p>#{correctToken}</p>
         <p style="color:Tomato;">#{emptyTokenErr} #{wrongTokenErr}</p>
         label(for="token") Tokenas
         br
         input(type="text", name="token", id="tokenId", placeholder="Enter your token")
         br
         <p style="color:Tomato;">#{passwordErr}</p>
         label(for="password") Slaptažodis
         br
         input(type="password", name="password", id="passId", placeholder="Enter your new password")
         br
         input(type="submit",value="Keisti")

            
         script.
            document.getElementById("tokenId").value = localStorage.getItem("tokenKey");

              function saveFields() {
               
                 var keyTokenValue  = document.getElementById("tokenId").value;
                 localStorage.setItem("tokenKey", keyTokenValue);
    
                 location.reload();
                 return true;
            }